{% extends "index.html" %}
{% block head %}
    <title>DANH SÁCH CHUYẾN BAY</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bookinghistory.css') }}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
{% endblock %}
{% block content  %}
    <div class="container">
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search">
        <table class='table table-bordered'>
            <thead>
                <tr>
                    <th>Mã đặt vé</th>
                    <th>Sân CMND</th>
                    <th>SĐT</th>
                    <th>Hạng vé</th>
                    <th>Giá tiền</th>
                    <th>Ghi chú</th>
                    <th>Mã chuyến bay</th>
                    <th>Mã khách hàng</th>
                    <th>Mã người bán</th>
                </tr>
            </thead>
            <tbody>
                {% if data %}
                    {% for data in result%}
                    <tr>
                        <td>
                            {{ result.bookingID }}
                        </td>
                        <td>
                            {{ result.identityCard }}
                        </td>
                        <td>
                            {{ result.phoneNumber }}
                        </td>
                        <td>
                            {{ result.ticketClass }}
                        </td>
                        <td>
                            {{ result.price }}
                        </td>
                        <td>
                            {{ result.note }}
                        </td>
                        <td>
                            {{ result.flightSchedulesID }}
                        </td>
                        <td>
                            {{ result.customerID }}
                        </td>
                        <td>
                            {{ result.employeeID }}
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="9">
                            Không có dữ liệu
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}