h1{
    text-align: center;
}
#timchuyenbay{
    padding: 11px;
    border-radius: 10px;
    border:2px solid black;
}
#btn{
    width: 50px;
}
#head{
    font-family: arial;
    font-size: 16Spx;
    font-weight: bold;
}
#icon{
    margin-left: 15px;
    margin-right: 15px;
}
#subtext{
    width: 50px;
}
.block-text{
    padding: 10px;
    border-radius: 10px;
    border:2px solid black;
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
}
#ngaydi{
    margin-left: 5px;
}
#ngayve{
    margin-left: 5px;
}
#start{
    width: 150px;
}
#end{
    width: 150px;
}