h1{
    text-align: center;
}
#timchuyenbay{
    width: fit-content;
    padding: 35px;
    border-radius: 10px;
    border:2px solid blue;
}
#btn{
    border-radius: 50px;
}
#head{
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
}
#icon{
    margin-left: 15px;
    margin-right: 15px;
}
.block-text{
    padding: 20px;
    border-radius: 10px;
    border:2px solid black;
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
}
#ngaydi{
    margin-left: 50px;
}
#ngayve{
    margin-left: 50px;
}
#select{
    width: 150px;
}