<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}"/>
    <script src="{{ url_for('static', filename='js/jquery/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
    <div class="topnav sticky-top" id="myTopnav">
        <div class="container">
            <a href="{{ url_for('index') }}">TRANG CHỦ</a>
            <a href="{{ url_for('flight') }}">TÌM VÉ</a>
            {% if session.cus %}
                <a href="{{ url_for('bookinghistory') }}">XEM LỊCH SỬ ĐẶT VÉ</a>
                <a href="{{ url_for('logout') }}">ĐĂNG XUẤT</a>
            {% else %}
                <a href="{{ url_for('login') }}">ĐĂNG NHẬP</a>
                <a href="{{ url_for('register') }}">ĐĂNG KÍ</a>
            {% endif %}
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>
    {% if session.cus %}
        <h1 style="text-align: center;">CHÀO MỪNG {{ session.cus }} </h1>
    {% endif %}
    <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav sticky-top") {
        x.className += " responsive sticky-top";
      } else {
        x.className = "topnav sticky-top";
      }
    }
</script>
</body>
</html>
