{% extends "index.html" %}
{% block head %}
    <title>TÌM CHUYẾN BAY</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flight.css') }}" />
    <script src="{{ url_for('static', filename='js/flight.js') }}"></script>
{% endblock %}
{% block content  %}
    <h1>KIET'S AIRLINE</h1>
    <h1>Tìm chuyến bay</h1>
    <form id="timchuyenbay" class="container" action="{{url_for('search_flight')}}">
        <div class="container"  id="head">
            <label>Khứ hồi</label>
            <input type="radio" id="roundtrip" onclick="summit()" checked="checked" name="radio">
            <span class="checkmark"></span>

            <label style="margin-left: 20px;">Một chiều</label>
            <input type="radio" id="oneway" onclick="summit()" name="radio">
            <span class="checkmark"></span>
        </div>
        <br/>
        <div class="form-inline">
            <div class="block-text">
                <label>Điểm đi</label>
                <select id="select" name="start" class="form-control mr-sm-2" required>
                    {% for data in airport%}
                    <option value="{{data.airportID}}">{{data.name}} ({{data.airportID}})</option>
                    {% endfor%}
                </select>
            </div>

            <i id="icon" class="fas fa-exchange-alt"></i>

            <div class="block-text">
                <label>Điểm đến</label>
                <select id="select" name="end" class="form-control mr-sm-2" required>
                    {% for data in airport%}
                    <option value="{{data.airportID}}">{{data.name}} ({{data.airportID}})</option>
                    {% endfor%}
                </select>
            </div>

            <div class="block-text" id="ngaydi">
                <label>Ngày đi</label>
                <input type="date" class="form-control mr-sm-2">
            </div>

            <div class="block-text" id="ngayve">
                <label>Ngày về</label>
                <input type="date" class="form-control mr-sm-2">
            </div>
        </div>
        <br/>
        <input id="btn" class="btn btn-danger my-2 my-sm-0" type="submit" value="Tìm kiếm chuyến bay">
    </form>
{% endblock %}



